.todo_main {
  width: 80%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
}

.todo-box {
  width: 100%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-block: 1em;
  border-radius: 1em;
}

.head{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em; 
}

.todo-box h2 {
  color: rgb(91, 90, 67);
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;

}

.input {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 3em;
}

.input > input {
  width: 80%;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 5px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1em 2em;
  border-radius: 1em;
}

.input button {
  width: 13em;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1em 1em;
}

.todo-con {
  width: 80%;
  display: flex;
  margin: 3em;
  flex-direction: column;
  gap: 1em;
}

.todo {
  display: flex;
  gap: 3em;
  align-items: center;
  background-color: coral;
  padding: 1em 2em;
  border-radius: 1em;
}

.todo > p {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: antiquewhite;
  padding: 0.5em 1em;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 0.4em;
  transition: 0.7s ease;
}

.todo > p:hover {
  transform: scalex(1.01);
}

.action {
  width: 40%;
  display: flex;
  gap: 2em;
}

.todo a,
.todo .btn {
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border: 1px solid bisque;
  background-color: lightgray;
  cursor: pointer;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 0.4em;
  transition: 0.5s ease;
}

.todo a:hover,
.todo .btn:hover {
  transform: scaleY(1.1);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  padding-inline: 3em;
  padding-block: 12em;
}

.warn {
  color: rgb(211, 123, 123);
}

.popup span {
  min-width: 5em;
  color: rgb(211, 123, 123);
  background-color: antiquewhite;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 5em auto;
  padding: 1em 2em;
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  .todo_main {
    width: 90%;
  }
  .todo-con {
    width: 90%;
  }
  .todo-box {
    width: 90%;
  }
  .input {
    flex-direction: column;
    gap: 1em;
  }
  .todo-con {
    width: 90%;
    margin: 1em 0em;
  }
  .todo {
    flex-direction: column;
    gap: 1em;
  }
  .popup {
    padding-inline: 1em;
  }
  .popup span {
    padding: 0.8em;
    margin: 0;
    font-size: 1.5em;
  }
  .action {
    align-items: center;
    justify-content: center;
  }
}
